body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}
.demo-section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 0 0 300px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
button:hover {
    background-color: #0056b3;
}
.output {
    padding: 10px;
    margin: 10px 0;
    background-color: #f8f9fa;
    border-radius: 5px;
}
#reset-btn {
    background-color: #a82121;
}
#reset-btn:hover {
    background-color: #8e1d1d;
}
a {
    text-decoration: none;
}